.btn {
  border-width: 2px;
}
.btn {
  border-radius: 80px;
}
body {
  font-family: Space Grotesk;
}
.display-1 {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 4.375rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 5.46875rem;
}
.display-2 {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 2.375rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 2.96875rem;
}
.display-4 {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.40625rem;
}
.display-5 {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 1.875rem;
}
.display-7 {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.25rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.5rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.0625rem;
    font-size: calc( 2.18125rem + (4.375 - 2.18125) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.18125rem + (4.375 - 2.18125) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 1.9rem;
    font-size: calc( 1.48125rem + (2.375 - 1.48125) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.48125rem + (2.375 - 1.48125) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.9rem;
    font-size: calc( 1.04375rem + (1.125 - 1.04375) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.04375rem + (1.125 - 1.04375) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.2rem;
    font-size: calc( 1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1.5rem 2.5rem;
  border-radius: 0px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 0px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 0px;
}
.btn-lg {
  padding: 1rem 1.5625rem;
  border-radius: 0px;
}
.bg-primary {
  background-color: #fedb01 !important;
}
.bg-success {
  background-color: #eff0f6 !important;
}
.bg-info {
  background-color: #3f69ff !important;
}
.bg-warning {
  background-color: #ff9417 !important;
}
.bg-danger {
  background-color: #000000 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #fedb01 !important;
  border-color: #fedb01 !important;
  color: #000000 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #a89101 !important;
  border-color: #a89101 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #000000 !important;
  background-color: #a89101 !important;
  border-color: #a89101 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #545454 !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #808080 !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
}
.btn-info,
.btn-info:active {
  background-color: #3f69ff !important;
  border-color: #3f69ff !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #0033e7 !important;
  border-color: #0033e7 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #0033e7 !important;
  border-color: #0033e7 !important;
}
.btn-success,
.btn-success:active {
  background-color: #eff0f6 !important;
  border-color: #eff0f6 !important;
  color: #535c93 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #b8bcd7 !important;
  border-color: #b8bcd7 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #535c93 !important;
  background-color: #b8bcd7 !important;
  border-color: #b8bcd7 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ff9417 !important;
  border-color: #ff9417 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #bf6700 !important;
  border-color: #bf6700 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #bf6700 !important;
  border-color: #bf6700 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #000000 !important;
  border-color: #000000 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: #fedb01;
  color: #fedb01;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #a89101 !important;
  background-color: transparent!important;
  border-color: #a89101 !important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #000000 !important;
  background-color: #fedb01 !important;
  border-color: #fedb01 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #d4d4d4 !important;
  background-color: transparent!important;
  border-color: #d4d4d4 !important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: #3f69ff;
  color: #3f69ff;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #0033e7 !important;
  background-color: transparent!important;
  border-color: #0033e7 !important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #3f69ff !important;
  border-color: #3f69ff !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: #eff0f6;
  color: #eff0f6;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #b8bcd7 !important;
  background-color: transparent!important;
  border-color: #b8bcd7 !important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #535c93 !important;
  background-color: #eff0f6 !important;
  border-color: #eff0f6 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: #ff9417;
  color: #ff9417;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #bf6700 !important;
  background-color: transparent!important;
  border-color: #bf6700 !important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #ff9417 !important;
  border-color: #ff9417 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: #000000;
  color: #000000;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: #000000 !important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: #232323;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: #000000 !important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: #fafafa;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: #cfcfcf !important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #fedb01 !important;
}
.text-secondary {
  color: #ffffff !important;
}
.text-success {
  color: #eff0f6 !important;
}
.text-info {
  color: #3f69ff !important;
}
.text-warning {
  color: #ff9417 !important;
}
.text-danger {
  color: #000000 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #3f69ff !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #3f69ff !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #3f69ff !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #002fd8 !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #3f69ff !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #3f69ff !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #3f69ff !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #3f69ff !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  transition: 0.3s;
  /*position: relative;
        background-image: linear-gradient(currentColor 50%, currentColor 50%);
        background-size: 10000px 2px;
        background-repeat: no-repeat;
        background-position: 0 1.2em;*/
  text-decoration: underline;
}
.nav-tabs .nav-link.active {
  color: #fedb01;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #3f69ff;
}
.alert-warning {
  background-color: #ff9417;
}
.alert-danger {
  background-color: #000000;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #fedb01;
  border-color: #fedb01;
  color: #191600;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #fff8cc;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #fff2e3;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #b3b3b3;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.40625rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #fedb01 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.40625rem;
}
blockquote {
  border-color: #fedb01;
}
/* Forms */
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #fedb01;
  color: #000000;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #fedb01;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #fedb01;
  border-bottom-color: #fedb01;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #fedb01 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #ffffff !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23fedb01' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
p {
  margin-bottom: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}
.container {
  max-width: 1220px;
}
a {
  transition: color 300ms ease !important;
  font-weight: 400 !important;
}
a.text-primary:hover {
  color: #3f69ff !important;
}
a.text-secondary:hover {
  color: #3f69ff !important;
}
a.text-success:hover {
  color: #3f69ff !important;
}
a.text-info:hover {
  color: #3f69ff !important;
}
a.text-warning:hover {
  color: #3f69ff !important;
}
a.text-danger:hover {
  color: #3f69ff !important;
}
a.text-white:hover {
  color: #3f69ff !important;
}
a.text-black:hover {
  color: #3f69ff !important;
}
.btn.btn-primary:hover {
  background-color: #14142b !important;
  border-color: #14142b !important;
  color: #ffffff !important;
}
.btn.btn-secondary {
  background: transparent !important;
  border: 1px solid #e2e3e9 !important;
  color: #14142b !important;
}
.btn.btn-secondary:hover {
  background: #e2e3e9 !important;
  color: #14142b !important;
}
.btn,
.btn-lg {
  box-shadow: none !important;
}
body {
  line-height: 1.667em;
  line-height: 30px;
}
.btn,
.btn-lg {
  margin-top: 0;
  margin-bottom: 0;
}
span.btn {
  line-height: 20px;
  transform-style: preserve-3d !important;
  transition: color 350ms ease, transform 300ms ease, border 300ms ease, background-color 300ms ease, -webkit-transform 300ms ease !important;
}
span.btn:hover {
  transform: translate3d(0px, -4px, 0.01px) !important;
  transition: color 350ms ease, transform 300ms ease, border 300ms ease, background-color 300ms ease, -webkit-transform 300ms ease !important;
}
a.btn {
  line-height: 20px;
  transform-style: preserve-3d !important;
  transition: color 350ms ease, transform 300ms ease, border 300ms ease, background-color 300ms ease, -webkit-transform 300ms ease !important;
}
a.btn:hover {
  transform: translate3d(0px, -4px, 0.01px) !important;
  transition: color 350ms ease, transform 300ms ease, border 300ms ease, background-color 300ms ease, -webkit-transform 300ms ease !important;
}
button {
  background-color: transparent;
  border-color: transparent;
}
.navbar-toggler:focus {
  box-shadow: none;
}
.cid-sSHZGHifhq {
  z-index: 1000;
  width: 100%;
  position: relative;
  min-height: 60px;
}
.cid-sSHZGHifhq nav.navbar {
  position: fixed;
}
.cid-sSHZGHifhq .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sSHZGHifhq .dropdown-menu {
  padding: 0;
  border-radius: 0;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  margin-top: 0px;
}
.cid-sSHZGHifhq .dropdown-item:hover,
.cid-sSHZGHifhq .dropdown-item:focus {
  color: #fedb01 !important;
}
.cid-sSHZGHifhq .nav-dropdown .link {
  padding: 0 0em !important;
  font-weight: 400;
}
.cid-sSHZGHifhq .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-sSHZGHifhq .nav-link {
  position: relative;
  padding: 0;
}
.cid-sSHZGHifhq .container {
  display: flex;
  margin: auto;
}
.cid-sSHZGHifhq .iconfont-wrapper {
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-sSHZGHifhq .dropdown-menu,
.cid-sSHZGHifhq .navbar.opened {
  background: #ff9417 !important;
}
.cid-sSHZGHifhq .nav-item:focus,
.cid-sSHZGHifhq .nav-link:focus {
  outline: none;
}
.cid-sSHZGHifhq .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-sSHZGHifhq .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-sSHZGHifhq .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-sSHZGHifhq .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sSHZGHifhq .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-sSHZGHifhq .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-sSHZGHifhq .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: #ff9417;
}
.cid-sSHZGHifhq .navbar.opened {
  transition: all 0.3s;
}
.cid-sSHZGHifhq .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-sSHZGHifhq .navbar .navbar-logo img {
  width: auto;
}
.cid-sSHZGHifhq .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-sSHZGHifhq .navbar.collapsed {
  justify-content: center;
}
.cid-sSHZGHifhq .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-sSHZGHifhq .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-sSHZGHifhq .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 4rem);
  }
}
.cid-sSHZGHifhq .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-sSHZGHifhq .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-sSHZGHifhq .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-sSHZGHifhq .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-sSHZGHifhq .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-sSHZGHifhq .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-sSHZGHifhq .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-sSHZGHifhq .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-sSHZGHifhq .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-sSHZGHifhq .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-sSHZGHifhq .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-sSHZGHifhq .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-sSHZGHifhq .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-sSHZGHifhq .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-sSHZGHifhq .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-sSHZGHifhq .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-sSHZGHifhq .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-sSHZGHifhq .navbar.navbar-short {
  min-height: 60px;
}
.cid-sSHZGHifhq .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-sSHZGHifhq .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-sSHZGHifhq .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-sSHZGHifhq .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-sSHZGHifhq .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-sSHZGHifhq .dropdown-item.active,
.cid-sSHZGHifhq .dropdown-item:active {
  background-color: transparent;
}
.cid-sSHZGHifhq .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-sSHZGHifhq .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-sSHZGHifhq .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-sSHZGHifhq .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ff9417;
}
.cid-sSHZGHifhq .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-sSHZGHifhq .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-sSHZGHifhq ul.navbar-nav {
  flex-wrap: wrap;
  padding-left: 20px;
}
.cid-sSHZGHifhq .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-sSHZGHifhq button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-sSHZGHifhq button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-sSHZGHifhq button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-sSHZGHifhq button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sSHZGHifhq button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sSHZGHifhq button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-sSHZGHifhq nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sSHZGHifhq nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-sSHZGHifhq nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-sSHZGHifhq nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sSHZGHifhq .navbar-dropdown {
  padding: 19px 1rem;
  position: fixed;
}
.cid-sSHZGHifhq a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-sSHZGHifhq .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: flex-end;
  padding-left: 1rem;
  padding-top: 0.3rem;
  text-align: center;
  min-width: 340px !important;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-sSHZGHifhq .navbar {
    height: 70px;
  }
  .cid-sSHZGHifhq .navbar.opened {
    height: auto;
  }
  .cid-sSHZGHifhq .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-sSHZGHifhq a {
  display: inline;
}
.cid-sSHZGHifhq img {
  display: inline;
  padding-right: 10px;
}
.cid-sSHZGHifhq .dropdown-toggle:after {
  display: none;
}
.cid-sSHZGHifhq .navbar .dropdown-item {
  display: block;
  border-radius: 0;
  padding-top: 2px;
  padding-bottom: 2px;
}
.cid-sSHZGHifhq .dropdown-item:hover {
  color: #3f69ff !important;
}
@media (max-width: 990px) {
  .cid-sSHZGHifhq .dropdown-menu {
    margin-top: 0px;
  }
  .cid-sSHZGHifhq .nav-dropdown .link {
    margin: 0 !important;
  }
}
.cid-sSHZGHifhq .mbr-buttons {
  margin: 20px -6px 20px;
}
.cid-sSHZGHifhq .nav-item {
  margin-right: 32px;
}
.cid-sSHZGHifhq .nav-item:last-child {
  margin-right: 0;
}
@media (max-width: 970px) {
  .cid-sSHZGHifhq ul li {
    height: 45px;
    display: list-item;
  }
}
.cid-sSHZGHifhq .navbar-collapse.collapsing .nav-item {
  height: 45px;
}
.cid-sSHZGHifhq .navbar-collapse.collapse.show .nav-item {
  height: 45px;
}
.cid-sSHZGHifhq .navbar-nav {
  margin: auto;
}
.cid-sSHZGHifhq .navbar-collapse.collapse.show ul li {
  display: list-item;
}
.cid-sSHZGHifhq .mbr-iconfont {
  margin-left: -5px;
  margin-right: 7px;
}
.cid-sSHZGHifhq .btn {
  padding: 1rem 1.5625rem !important;
  display: inline-block;
  line-height: 20px;
  transform-style: preserve-3d !important;
  transition: color 350ms ease, transform 300ms ease, border 300ms ease, background-color 300ms ease, -webkit-transform 300ms ease !important;
}
.cid-sSHZGHifhq .btn {
  border-radius: 1000px !important;
}
.cid-sSHZGHifhq .navbar.collapsed .icons-menu {
  display: flex;
  flex-direction: column;
}
.cid-sSHZGHifhq .navbar.collapsed .icons-menu .top {
  margin-top: 15px;
}
.cid-sSHZGHifhq .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-sSHZGHifhq .dropdown-toggle::after {
  display: inline-block;
  margin-left: .255em;
  vertical-align: .255em;
  content: "";
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-bottom: 0;
  border-left: .3em solid transparent;
}
.cid-sSHZGHifhq .dropdown-item:focus {
  color: #3f69ff !important;
}
@media (max-width: 945px) {
  .cid-sSHZGHifhq .icons-menu {
    display: flex;
    flex-direction: column;
  }
  .cid-sSHZGHifhq .top {
    margin-top: 25px;
  }
}
.cid-sSHZGHifhq .btn:hover {
  transform: translate3d(0px, -4px, 0.01px) !important;
  transition: color 350ms ease, transform 300ms ease, border 300ms ease, background-color 300ms ease, -webkit-transform 300ms ease !important;
}
@media (min-width: 992px) {
  .cid-sSHZGHifhq .container,
  .cid-sSHZGHifhq .container-fluid {
    flex-wrap: nowrap;
  }
}
.cid-sSHZGHifhq li:last-child {
  margin-right: 0;
}
@media (max-width: 989px) {
  .cid-sSHZGHifhq ul.navbar-nav {
    padding-left: 0;
  }
}
@media (max-width: 430px) {
  .cid-sSHZGHifhq .icons-menu {
    min-width: initial !important;
  }
  .cid-sSHZGHifhq a.btn {
    margin-top: 10px;
  }
}
.cid-sSHZGHifhq a.btn > span {
  margin-left: 0.5rem;
}
.cid-sSI0v6aMs4 {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-sSI0v6aMs4 .mbr-section-title {
  width: 100%;
  text-align: center;
  margin-bottom: 16px;
  line-height: 1.171em;
  color: #14142b;
}
.cid-sSI0v6aMs4 .mbr-text {
  color: #8c8c95;
  margin-bottom: 20px;
  text-align: center;
}
.cid-sSI0v6aMs4 .button-align {
  text-align: center;
}
.cid-sSI0v6aMs4 .margin {
  margin-right: 14px;
}
.cid-sSI0v6aMs4 .mbr-section-btn {
  display: inline-block;
}
.cid-sSI0v6aMs4 .container {
  max-width: 493px;
}
.cid-sSI0v6aMs4 .btn {
  margin-top: 20px;
}
.cid-sSI0v6aMs4 a.btn > span {
  margin-left: 0.5rem;
}
.cid-sXVWCGpYXb {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-image: url("../../../assets/images/hero2x-1-952x952.jpeg");
}
.cid-sXVWCGpYXb .row {
  align-items: center;
}
@media (max-width: 991px) {
  .cid-sXVWCGpYXb .col-text {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
@media (min-width: 992px) {
  .cid-sXVWCGpYXb .col-text {
    padding: 30px;
  }
}
.cid-sXVWCGpYXb .col-form {
  padding: 0;
}
@media (max-width: 991px) {
  .cid-sXVWCGpYXb .col-form {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
@media (min-width: 992px) {
  .cid-sXVWCGpYXb .col-form {
    padding: 30px;
    min-height: 540px;
  }
}
@media (min-width: 768px) {
  .cid-sXVWCGpYXb .col-form {
    max-height: 440px;
  }
}
.cid-sXVWCGpYXb .text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media (max-width: 767px) {
  .cid-sXVWCGpYXb .text-wrapper {
    text-align: center !important;
  }
}
.cid-sXVWCGpYXb .mbr-section-title {
  color: #000000;
  margin-bottom: 24px;
  width: 100%;
}
@media (max-width: 767px) {
  .cid-sXVWCGpYXb .mbr-section-title {
    text-align: center !important;
  }
}
.cid-sXVWCGpYXb .mbr-text {
  letter-spacing: inherit;
  color: #e2e3e9;
  width: 100%;
}
@media (max-width: 767px) {
  .cid-sXVWCGpYXb .mbr-text {
    text-align: center !important;
  }
}
.cid-sXVWCGpYXb .text-user {
  width: 100%;
  margin-top: 20px;
}
.cid-sXVWCGpYXb .name-text {
  color: #222222;
  width: 100%;
}
.cid-sXVWCGpYXb .prof-text {
  color: #555555;
  width: 100%;
}
.cid-sXVWCGpYXb .btn-container {
  width: 100%;
  margin-top: 11px;
}
@media (max-width: 767px) {
  .cid-sXVWCGpYXb .mbr-section-btn {
    text-align: center !important;
  }
}
@media (max-width: 575px) {
  .cid-sXVWCGpYXb .mbr-section-btn {
    display: flex;
    flex-wrap: wrap;
  }
  .cid-sXVWCGpYXb .mbr-section-btn .btn {
    width: 100%;
  }
}
.cid-sXVWCGpYXb .mbr-section-title,
.cid-sXVWCGpYXb .mbr-section-btn {
  color: #ffffff;
}
.cid-sUGMSIO8Hs {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-sUGMSIO8Hs .card-title {
  padding-bottom: 18px;
  margin: 0;
  color: #ff9417;
}
.cid-sUGMSIO8Hs .align-left {
  max-width: 547px;
}
.cid-sUGMSIO8Hs .mbr-text,
.cid-sUGMSIO8Hs .mbr-section-btn {
  color: #8c8c95;
  text-align: left;
}
.cid-sUGMSIO8Hs .left-side {
  margin-right: 20px;
}
.cid-sUGMSIO8Hs .right-side {
  margin-left: 20px;
}
@media (max-width: 768px) {
  .cid-sUGMSIO8Hs .left-side {
    margin-right: 0px;
  }
  .cid-sUGMSIO8Hs .right-side {
    padding-top: 20px;
    margin-left: 0px;
  }
}
.cid-sXW1IpHNyy {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-sXW1IpHNyy .mbr-iconfont {
  display: block;
  font-size: 3rem;
  color: #000000;
  transition: all 0.3s;
  margin-bottom: 1rem;
}
.cid-sXW1IpHNyy .card-title {
  transition: all 0.3s;
}
.cid-sXW1IpHNyy .main-title {
  position: relative;
  width: fit-content;
  display: inline-block;
  color: #160830;
}
.cid-sXW1IpHNyy .main-title:before {
  content: "";
  bottom: -1rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 2px;
  background: #000000;
  position: absolute;
}
.cid-sXW1IpHNyy .card-wrapper {
  transition: all 0.3s;
  padding: 1.5rem 1rem;
  background: #ff9417;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cid-sXW1IpHNyy .card-wrapper:hover {
  background: #000000;
  box-shadow: 5px 5px 30px 0 #000000;
}
.cid-sXW1IpHNyy .card-wrapper:hover .mbr-iconfont,
.cid-sXW1IpHNyy .card-wrapper:hover .card-title {
  color: #ffffff;
}
.cid-sXW1IpHNyy .card-title,
.cid-sXW1IpHNyy .card-box {
  color: #353535;
}
.cid-sXW1IpHNyy .main-title,
.cid-sXW1IpHNyy .title-col {
  text-align: center;
  color: #ff9417;
}
.cid-sUGNWAGSqU {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #000000;
}
.cid-sUGNWAGSqU .row {
  align-items: center;
  justify-content: space-between;
}
.cid-sUGNWAGSqU .mbr-section-title {
  width: 100%;
  text-align: left;
  margin-bottom: 24px;
  color: #ff9417;
}
.cid-sUGNWAGSqU .mbr-text {
  color: #8c8c95;
  margin-bottom: 32px;
}
.cid-sUGNWAGSqU .mbr-section-btn {
  width: auto;
  display: block;
}
.cid-sUGNWAGSqU ul {
  padding-inline-start: 20px;
  margin-bottom: 28px;
}
.cid-sUGNWAGSqU li::marker {
  color: #fedb01;
  width: 10px;
}
.cid-sUGNWAGSqU li {
  margin-bottom: 7px;
  color: #14142b;
}
.cid-sUGNWAGSqU img {
  width: 90%;
}
.cid-sUGNWAGSqU .gray {
  background-color: #eff0f6;
  width: 80%;
  height: 430px;
  margin: auto;
  position: relative;
}
.cid-sUGNWAGSqU .b {
  max-width: 598px;
}
.cid-sUGNWAGSqU .first {
  position: absolute;
  top: -10%;
  right: 25%;
}
.cid-sUGNWAGSqU .second {
  position: absolute;
  bottom: -10%;
  left: 25%;
}
@media (max-width: 992px) {
  .cid-sUGNWAGSqU .t {
    padding-top: 90px;
  }
  .cid-sUGNWAGSqU .b {
    max-width: initial;
  }
  .cid-sUGNWAGSqU .gray {
    width: 50%;
  }
}
@media (max-width: 750px) {
  .cid-sUGNWAGSqU .gray {
    height: 330px;
  }
}
@media (max-width: 630px) {
  .cid-sUGNWAGSqU .gray {
    height: 230px;
  }
}
@media (max-width: 450px) {
  .cid-sUGNWAGSqU .gray {
    height: 200px;
    width: 70%;
  }
}
.cid-sUGNWAGSqU .btn {
  margin-top: 20px;
}
.cid-sUGNWAGSqU .row {
  flex-direction: row-reverse;
}
.cid-sUGNWAGSqU .t {
  max-width: 542px;
}
.cid-sUGNWAGSqU .mbr-text,
.cid-sUGNWAGSqU .button-align,
.cid-sUGNWAGSqU .list {
  color: #ffffff;
}
.cid-sUGUniHThG {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-sUGUniHThG .mbr-section-subtitle {
  color: #8c8c95;
  text-align: left;
  max-width: 552px;
  margin: auto;
}
.cid-sUGUniHThG .mbr-section-title {
  text-align: center;
  color: #ff9417;
  padding-bottom: 24px;
  max-width: 752px;
  margin: auto;
}
.cid-sUGUniHThG .row {
  align-items: center;
  height: 100%;
}
.cid-sUGUniHThG .wrapper {
  margin: auto;
}
.cid-sUGUniHThG .subtitle {
  display: inline;
  width: auto;
  color: #8c8c95;
}
.cid-sUGUniHThG .mbr-section-btn {
  display: inline;
  width: auto;
  margin-right: 25px;
}
.cid-sUGUniHThG .title-block {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 24px;
}
.cid-sUGUniHThG a.btn {
  padding: 16px 25px !important;
}
.cid-sUGUniHThG a.btn:hover {
  background-color: #fedb01 !important;
  border-color: #fedb01 !important;
  color: #000000;
}
@media (max-width: 340px) {
  .cid-sUGUniHThG .title-block {
    display: flex;
    flex-direction: column;
  }
  .cid-sUGUniHThG .mbr-section-btn {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
.cid-sXVUxAm4yc {
  padding-top: 4rem;
  padding-bottom: 0rem;
  position: relative;
  background-color: #ff9417;
}
.cid-sXVUxAm4yc .card_title {
  color: #ffffff;
  line-height: 1.2727em;
  margin-bottom: 0;
}
.cid-sXVUxAm4yc .card_content {
  margin-top: 29px;
}
.cid-sXVUxAm4yc img,
.cid-sXVUxAm4yc .item-img {
  width: 100%;
  object-fit: cover;
  height: 400px;
}
.cid-sXVUxAm4yc .item {
  margin-bottom: 85px;
}
.cid-sXVUxAm4yc .item-wrapper {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  overflow: visible;
}
.cid-sXVUxAm4yc .mbr-text {
  color: #202020;
}
.cid-sXVUxAm4yc .icons_card {
  margin-top: 17px;
  height: 26px;
  text-align: center;
}
.cid-sXVUxAm4yc .iconfont-wrapper {
  color: #202020;
  font-size: 1.1rem;
  margin-right: 10px;
  width: 1.1rem;
  height: 1.1rem;
  transition: all 0.2s ease-in-out;
}
.cid-sXVUxAm4yc .iconfont-wrapper:last-child {
  margin-right: 0;
}
.cid-sXVUxAm4yc .iconfont-wrapper:hover {
  opacity: .85;
}
.cid-sXVURe3DM8 {
  padding-top: 7rem;
  padding-bottom: 10rem;
  background-color: #000000;
}
.cid-sXVURe3DM8 img {
  max-width: 140px;
  margin: auto;
}
.cid-sXVURe3DM8 .card {
  background: white;
  padding: 2rem 0;
  transition: all 0.3s;
  cursor: pointer;
}
.cid-sXVURe3DM8 .card:hover {
  transform: scale(0.9);
}
.cid-sXVURe3DM8 .svg-top {
  width: 100%;
  position: absolute;
  left: 0;
  top: -48px;
  height: 50px;
  transform-origin: bottom;
  animation: 1.5s ease-in-out infinite alternate svg-wave;
  fill: #fedb01;
}
.cid-sXVURe3DM8 .svg-top .st0 {
  fill: #000000;
}
@media (max-width: 992px) {
  .cid-sXVURe3DM8 .svg-top {
    width: 1000px;
  }
}
.cid-sXVURe3DM8 .mbr-section-title {
  color: #ffffff;
}
.cid-sXVURe3DM8 .mbr-section-subtitle {
  color: #ffffff;
}
.cid-sSIh5A0MQh {
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: #ff9417;
}
.cid-sSIh5A0MQh .shadow {
  border-radius: 30px;
  box-shadow: 0 5px 16px 0 rgba(8, 15, 52, 0.07) !important;
  transition: all 300ms ease, transform 300ms ease, -webkit-transform 300ms ease;
  overflow: visible;
}
.cid-sSIh5A0MQh .wrap-img {
  border-bottom: 1px solid #e2e3e9;
  transition: all 300ms ease !important;
  overflow: hidden;
  border-radius: 30px 30px 0 0;
  height: 192px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: translate(0px, 0px);
}
.cid-sSIh5A0MQh .shadow:hover {
  transform: translate(0px, -6px);
  box-shadow: 0 10px 20px 0 rgba(8, 15, 52, 0.1) !important;
}
.cid-sSIh5A0MQh .shadow:hover a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption),
.cid-sSIh5A0MQh .shadow:hover .mbr-iconfont,
.cid-sSIh5A0MQh .shadow:hover .number,
.cid-sSIh5A0MQh .shadow:hover .card-title {
  color: #3f69ff !important;
}
.cid-sSIh5A0MQh .shadow:hover .inner {
  transform: scale(1.1);
}
.cid-sSIh5A0MQh .inner {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.4s;
}
.cid-sSIh5A0MQh .card-title {
  color: #14142b;
  margin-bottom: 6px;
  text-align: center;
  transition: 0.35s;
}
.cid-sSIh5A0MQh .title-block {
  margin-bottom: 56px;
}
.cid-sSIh5A0MQh .card-text {
  color: #8c8c95;
  text-align: center;
}
.cid-sSIh5A0MQh H3 {
  color: #14142b;
  text-align: center;
}
.cid-sSIh5A0MQh .card-wrapper {
  border-radius: 0 0 30px 30px;
  background-color: #ffffff;
  padding: 39px 32px 48px;
}
.cid-sSIh5A0MQh .mbr-iconfont {
  transition: 0.3s;
  margin-right: 5px;
}
.cid-sSIh5A0MQh .link-title {
  display: inline-block;
}
.cid-sSIh5A0MQh .episode {
  color: #ffffff;
}
.cid-sSIh5A0MQh .img-title {
  color: #ffffff;
}
.cid-sSIh5A0MQh .button-align {
  margin-top: 56px;
  text-align: center;
}
.cid-sSIh5A0MQh .mbr-section-btn {
  width: auto;
  display: inline;
}
.cid-sSIh5A0MQh .mbr-section-title {
  color: #8c8c95;
}
@media (max-width: 860px) {
  .cid-sSIh5A0MQh .title-block {
    flex-direction: column;
  }
  .cid-sSIh5A0MQh .mbr-section-subtitle {
    margin-bottom: 20px;
    text-align: center;
  }
}
.cid-sSIh5A0MQh .item.features-image {
  margin-top: 35px;
}
.cid-sSIh5A0MQh .item.features-image:nth-child(1) {
  margin-top: 0px;
}
.cid-sSIh5A0MQh .item.features-image:nth-child(2) {
  margin-top: 0px;
}
.cid-sSIh5A0MQh .item.features-image:nth-child(3) {
  margin-top: 0px;
}
@media (max-width: 992px) {
  .cid-sSIh5A0MQh .item.features-image:nth-child(4) {
    margin-top: 35px;
  }
  .cid-sSIh5A0MQh .item.features-image:nth-child(3) {
    margin-top: 35px;
  }
}
@media (max-width: 768px) {
  .cid-sSIh5A0MQh .item.features-image:nth-child(2) {
    margin-top: 35px;
  }
}
.cid-sSIh5A0MQh .mbr-section-subtitle {
  color: #ffffff;
}
.cid-sUGVdXU0Lt {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #000000;
}
@media (max-width: 991px) {
  .cid-sUGVdXU0Lt .title {
    margin-top: 2rem;
  }
  .cid-sUGVdXU0Lt .mbr-section-title {
    text-align: center;
  }
  .cid-sUGVdXU0Lt .mbr-section-subtitle {
    text-align: center;
  }
  .cid-sUGVdXU0Lt .input-group-btn {
    text-align: center;
  }
}
.cid-sUGVdXU0Lt .mbr-section-subtitle {
  color: #ffffff;
}
.cid-sUGVdXU0Lt a:not([href]):not([tabindex]) {
  color: #fff;
  border-radius: 3px;
}
.cid-sUGVdXU0Lt a.btn-white:not([href]):not([tabindex]) {
  color: #333;
}
.cid-sUGVdXU0Lt .form-group {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  max-width: 100%;
}
.cid-sUGVdXU0Lt .input-group-btn {
  display: block;
  text-align: left;
}
.cid-sUGVdXU0Lt h3 {
  color: #444;
  letter-spacing: 0.03em;
}
.cid-sUGVdXU0Lt .form-control {
  border-radius: 0px !important;
  padding-left: 15px;
}
.cid-sUGVdXU0Lt .google-map {
  width: 100%;
  height: 25rem;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: gray;
}
.cid-sUGVdXU0Lt .google-map iframe {
  width: inherit;
  height: 100%;
}
.cid-sUGVdXU0Lt .google-map [data-state-details] {
  color: #444444;
  font-family: Muli;
  height: 1.5em;
  margin-top: -0.75em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.cid-sUGVdXU0Lt .google-map[data-state] {
  background: #e9e5dc;
}
.cid-sUGVdXU0Lt .google-map[data-state="loading"] [data-state-details] {
  display: none;
}
.cid-sUGVdXU0Lt textarea.form-control {
  min-height: 154px;
}
.cid-sUGVdXU0Lt H2 {
  color: #ffffff;
}
.cid-sLnrtHEkJZ {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ff9417;
}
.cid-sLnrtHEkJZ .mbr-text {
  color: #ffffff;
}
.cid-sLnrtHEkJZ .line {
  height: 1px;
  width: 100%;
  background-color: #c2c2c2;
  margin-bottom: 32px;
}
